* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

/* .layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
} */

.padding_0 {
    padding: 0px;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-full {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-quart {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-half {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-most {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-semi-half {
        flex: 0 0 50%;
        max-width: 50%;
      }
    .col-square {
        flex: 0 0 25%;
        max-width: 25%;
      }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

a {
    text-decoration: none !important;

}

.Nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Nav {
    padding: 15px 0px;
}

.Nav-lg  .navbar-nav .link {
    padding: 3px 20px;
    font-size: 17px;
    color: #fefefd;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


.Nav .navbar-nav .link:focus,
.Nav .navbar-nav .link:hover {
    color: #02a763;
}


a.light:hover,
a.light:focus,
button.light:hover,
button.light:focus {
    background-color: #dae0e5 !important;
}

.light {
    background-color: transparent !important;
}


@media (max-width: 991.98px) {

    .Nav-lg >.container,
    .Nav-lg >.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .Nav-lg  {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .Nav-lg  .navbar-nav {
        flex-direction: row;
    }

    .Nav-lg  .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .Nav-lg  .navbar-nav .link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .Nav-lg >.container,
    .Nav-lg >.container-fluid {
        flex-wrap: nowrap;
    }

    .Nav-lg  .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-around;
    }

    .Nav-lg  .navbar-toggler {
        display: none;
    }
}

.nav-item {
    padding: 0px 10px;
}

.logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.logo:hover,
.logo:focus {
    text-decoration: none;
}

.logo {
    width: 10%;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.ml-auto,
.mx-auto {
    margin-left: 0px !important;
}

.link {
    display: block;
    padding: 0.5rem 1rem;
}

.link:hover,
.link:focus {
    text-decoration: none;
}

.link.disabled {
    color: #6c757d;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline .form-check {
    width: 100%;
}

@media (min-width: 576px) {
    .form-inline label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 0;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-control-plaintext {
        display: inline-block;
    }

    .form-inline .input-group,
    .form-inline .custom-select {
        width: auto;
    }

    .form-inline .form-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }

    .form-inline .form-check-input {
        position: relative;
        margin-top: 0;
        margin-right: 0.25rem;
        margin-left: 0;
    }

    .form-inline .custom-control {
        align-items: center;
        justify-content: center;
    }

    .form-inline .custom-control-label {
        margin-bottom: 0;
    }
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.search_bt {
    width: 130px;
    text-align: right;
}

.search_bt a {
    float: left;
    font-size: 17px;
    color: #fefefd;
    text-align: right;
    display: contents;
    font-family: 'Raleway', sans-serif;
}

.search_bt a:hover {
    color: #02a763;
}

.banner_section {
    width: 100%;
    float: left;
    padding: 120px 0px 140px 0px;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media screen and (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none;
    }
}

.line {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-full,
.col-quart,
.col-half,
.col-most,
 .col-semi-half ,.col-square {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.banner_taital_main {
    width: 40%;
    float: left;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #f5f3f3;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eeeded;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.started_bt {
    width: 175px;
    float: left;
}

.started_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #faf9f9;
    color: #010101;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.started_bt a:hover {
    color: #faf9f9;
    background-color: #02a763;
}

.started_bt.active a {
    color: #faf9f9;
    background-color: #02a763;
}

.buy_bt {
    width: 175px;
    float: left;
}

.buy_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #faf9f9;
    color: #010101;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.buy_bt a:hover {
    color: #faf9f9;
    background-color: #02a763;
}




.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.services_main {
    width: 55%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

hr.border {
    border: 5px solid #02a763;
    width: 100px;
    background: #02a763 !important;
    height: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #232222;
    font-weight: bold;
}

.services_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.icon_img {
    width: 100%;
    float: left;
    text-align: center;
}

.bitcoin_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.services_text {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    color: #232222;
    text-align: center;
}

.readmore_btn {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    background-color: #2d2c2c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #fefefd;
    background-color: #02a763;
}

.readmore_btn.active a {
    color: #fefefd;
    background-color: #02a763;
}

.work_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.work_main {
    width: 40%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.work_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
}

.work_text {
    width: 100%;
    font-size: 16px;
    color: #474747;
    margin: 0px;
    text-align: center;
}

.work_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.work_box {
    width: 100%;
    background-color: #dddada;
    height: auto;
    padding: 40px 20px;
}

.work_box:hover {
    background-color: #02a763;
}

.work_box:hover .payments_text {
    color: #fefefd;
}

.work_box:hover .lorem_text {
    color: #fefefd;
}

.work_box.active {
    background-color: #02a763;
}

.work_box .payments_text.active {
    color: #fefefd;
}

.work_box .lorem_text.active {
    color: #fefefd;
}

.payments_text {
    width: 100%;
    font-size: 20px;
    color: #060606;
    text-align: center;
    padding: 15px 0px;
}

.lorem_text {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #474747;
    text-align: center;
}

.read_bt {
    width: 175px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #2d2c2c;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.read_bt a:hover {
    color: #fefefd;
    background-color: #02a763;
}

.work_img {
    width: 100%;
    text-align: center;
}

.work_img img {
    min-height: 70px;
}

.work_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.work_main {
    width: 40%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.work_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
}

.work_text {
    width: 100%;
    font-size: 16px;
    color: #474747;
    margin: 0px;
    text-align: center;
}

.work_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.work_box {
    width: 100%;
    background-color: #dddada;
    height: auto;
    padding: 40px 20px;
}

.work_box:hover {
    background-color: #02a763;
}

.work_box:hover .payments_text {
    color: #fefefd;
}

.work_box:hover .lorem_text {
    color: #fefefd;
}

.work_box.active {
    background-color: #02a763;
}

.work_box .payments_text.active {
    color: #fefefd;
}

.work_box .lorem_text.active {
    color: #fefefd;
}

.payments_text {
    width: 100%;
    font-size: 20px;
    color: #060606;
    text-align: center;
    padding: 15px 0px;
}

.lorem_text {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #474747;
    text-align: center;
}

.read_bt {
    width: 175px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #2d2c2c;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.read_bt a:hover {
    color: #fefefd;
    background-color: #02a763;
}

.work_img {
    width: 100%;
    text-align: center;
}

.work_img img {
    min-height: 70px;
}


/* work section end */


/* features section start */

.features_section {
    width: 100%;
    float: left;
    background-image: url(../images/features-bg.png);
    height: auto;
    background-size: cover;
    padding: 90px 0px;
}

.features_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    padding-bottom: 0px;
}

.features_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #02a763;
    font-weight: bold;
    text-transform: uppercase;
}

.project_text {
    width: 100%;
    color: #fefefd;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 10px;
}

.project_text:hover {
    color: #02a763;
}

.hidden_text {
    width: 100%;
    color: #fefefd;
    font-size: 16px;
    margin: 0px;
}

.padding15 {
    padding-left: 20px;
}

.icon_4 {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #fefefd;
}

.readmor_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    display: flex;
}

.readmor_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    background-color: #02a763;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.readmor_bt a:hover {
    background-color: #2d2c2c;
    color: #fefefd;
}


/* features section end */


/* team section start */

.team_section {
    width: 100%;
    float: left;
    padding-bottom: 70px;
}

.team_main {
    width: 62%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.team_section_2 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.client_box {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d8d8d7;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px 50px 20px;
}

.team_img {
    width: 100%;
    text-align: center;
}

.client_name {
    width: 100%;
    font-size: 20px;
    color: #2d2c2c;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.passages_text {
    width: 100%;
    font-size: 16px;
    color: #2d2c2c;
    margin: 0px;
    text-align: center;
}

.team_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.team_social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -35px;
}

.team_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.team_social_icon li {
    float: left;
}

.team_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #02a763;
    color: #ffffff;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.team_social_icon li a:hover {
    background-color: #02a763;
    color: #ffffff;
    box-shadow: 0px 3px 6px -2px #000;
}


/* team section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    background-color: #02a763;
    height: auto;
    padding: 90px 0px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #fefefd;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.mail_section {
    width: 100%;
    float: left;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #8b8b8b;
    background-color: #ffffff;
    padding: 14px 15px;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
}

input.mail_text::placeholder {
    color: #8b8b8b;
}

.massage-bt {
    color: #8b8b8b;
    width: 100%;
    height: 130px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 40px 15px 0px 15px;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
}

textarea#comment::placeholder {
    color: #8b8b8b;
}

.send_bt {
    width: 220px;
    float: left;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fefefd;
    background-color: #252525;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    border-radius: 5px;
}

.send_bt a:hover {
    color: #8b8b8b;
    background-color: #fefefd;
}

.contact_img {
    margin-top: 20px;
}

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-color: #2d2c2c;
    background-size: 100%;
    padding: 90px 0px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 16px;
    color: #ededec;
}

.footer_menu li a {
    color: #ededec;
}

.footer_menu li a:hover {
    color: #02a763;
}

.dummy_text {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 16px;
    color: #9b9a9a;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #9b9a9a;
}

.location_text li a:hover {
    color: #ffffff;
}

.padding_left_10 {
    padding-right: 10px;
    color: #ffffff;
}

.footer_social_icon {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.footer_social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_social_icon li {
    float: left;
}

.footer_social_icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #252525;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 5px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon li a:hover {
    background-color: #02a763;
    color: #ffffff;
}

.update_mail {
    color: #3b3b3b;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 0px;
}

textarea#comment.update_mail::placeholder {
    color: #3b3b3b;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 30px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #02a763;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #fefefd;
}


/* footer section end */
















/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }

    .cart-content-right {
        padding-bottom: 5px;
    }

    .mg {
        margin: 0px 0px;
    }

    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }

    .megamenu>.line [class*="col-"] {
        padding: 0px;
    }

    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }

    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }

    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }

    .category-box.women-box {
        display: none;
    }

    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }

    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }

    .menu-add {
        display: none;
    }

    .category-box {
        display: none;
    }

    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }

    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }

    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }

    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }

    .header-search {
        padding: 15px 0px;
    }

    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }

    .megamenu>.line [class*="col-"] {
        padding: 0px;
    }

    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }

    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }

    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }

    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }

    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }

    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }

    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }

    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        background-size: 100% 100%;
    }

    .banner_taital_main {
        width: 50%;
        float: left;
    }

    .banner_section {
        padding: 80px 0px 90px 0px;
    }


    .services_main {
        width: 65%;
    }

    .bitcoin_text {
        font-size: 26px;
    }

    .services_text {
        width: 100%;
    }

    .work_main {
        width: 50%;
    }

    .lorem_text {
        font-size: 14px;
    }

    .team_main {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Nav {
        padding: 15px 0px;
    }

    .Nav.navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }

    .logo {
        width: auto;
    }

    .header_section {
        background-size: cover;
    }

    .Nav-lg  .navbar-nav .link {
        text-align: center;
    }

    .search_bt {
        width: 100%;
        text-align: center;
    }


    .banner_section {
        padding: 90px 0px;
    }

    .banner_taital_main {
        width: 60%;
        float: left;
    }

    .banner_taital {
        font-size: 40px;
    }

    .services_main {
        width: 85%;
    }

    .bitcoin_text {
        font-size: 20px;
    }

    .services_text {
        width: 100%;
        font-size: 15px;
    }

    .work_main {
        width: 60%;
    }

    .lorem_text {
        font-size: 14px;
    }

    .work_box {
        padding: 40px 10px;
    }

    .hidden_text {
        font-size: 15px;
    }

    .team_main {
        width: 100%;
    }

    .client_box {
        padding: 40px 10px 50px 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .Nav {
        padding: 15px 0px;
    }

    .Nav .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }

    .logo {
        width: auto;
    }

    .header_section {
        background-size: cover;
    }

    .Nav-lg  .navbar-nav .link {
        text-align: center;
    }

    .search_bt {
        width: 100%;
        text-align: center;
    }


    .banner_section {
        padding: 50px 0px;
    }

    .banner_taital_main {
        width: 60%;
        float: left;
    }

    .banner_taital {
        font-size: 40px;
    }

    .started_bt {
        width: 140px;
        float: left;
    }

    .started_bt a {
        font-size: 16px;
    }

    .buy_bt {
        width: 140px;
        float: left;
    }

    .buy_bt a {
        font-size: 16px;
    }

    hr.border {
        display: none;
    }

    .services_main {
        width: 100%;
    }

    .services_taital {
        font-size: 28px;
    }

    .services_section_2 {
        padding-top: 50px;
    }

    .bitcoin_text {
        font-size: 24px;
    }

    .icon_img {
        margin-top: 30px;
    }

    .work_main {
        width: 100%;
    }

    .work_box {
        padding: 40px 8px;
        margin-top: 30px;
    }

    .icon_4 {
        margin-top: 30px;
    }

    .team_main {
        width: 100%;
    }

    .contact_taital {
        font-size: 26px;
    }

    .client_taital {
        font-size: 28px;
    }

    .client_text {
        font-size: 15px;
    }

    .consectetur_text {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .Nav {
        padding: 15px 0px;
    }

    .Nav .navbar-toggler {
        color: #030303;
        border-color: #fff;
        background: #fff;
    }

    .logo {
        width: auto;
    }

    .header_section {
        background-size: cover;
    }

    .Nav-lg  .navbar-nav .link {
        text-align: center;
    }

    .search_bt {
        width: 100%;
        text-align: center;
    }

    .banner_section {
        padding: 50px 0px;
    }

    .banner_taital_main {
        width: 100%;
        float: left;
    }

    .banner_taital {
        font-size: 40px;
    }

    .started_bt {
        width: 140px;
        float: left;
    }

    .started_bt a {
        font-size: 16px;
    }

    .buy_bt {
        width: 140px;
        float: left;
    }

    .buy_bt a {
        font-size: 16px;
    }

    hr.border {
        display: none;
    }

    .services_main {
        width: 100%;
    }

    .services_taital {
        font-size: 28px;
    }

    .services_section_2 {
        padding-top: 50px;
    }

    .bitcoin_text {
        font-size: 24px;
    }

    .icon_img {
        margin-top: 30px;
    }

    .work_main {
        width: 100%;
    }

    .work_box {
        padding: 40px 8px;
        margin-top: 30px;
    }

    .icon_4 {
        margin-top: 30px;
    }

    .team_main {
        width: 100%;
    }

    .contact_taital {
        font-size: 26px;
    }

    .client_taital {
        font-size: 28px;
    }

    .client_text {
        font-size: 15px;
    }

    .consectetur_text {
        width: 100%;
    }

}

textarea#comment.update_mail::placeholder {
    color: #3b3b3b;
}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 30px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #02a763;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #fefefd;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #02a763;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #fefefd;
}

.copyright_text a:hover {
    color: #000000;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}